<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大麦网</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .menu {
            display: flex;
            padding: 5px 0;
        }

        .menu li {
            padding: 5px 20px;
            margin: 0 20px;
            border-radius: 3px;
        }

        .menu li.active {
            background-color: orangered;
            color: #fff;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" style="width: 1000px; border:1px solid red; margin: 100px auto" v-cloak>
        <div class="menu">
            <li>城市：</li>
            <li @click="activeCityIndex=i" :class='{active: i===activeCityIndex}' v-for="(item,i) in cityList">
                {{item.name}}</li>
        </div>
        <!-- <div class="menu">
            <li>食物：</li>
            <li @click="activeFoodIndex=i" :class='{active: i===activeFoodIndex}' v-for="(item,i) in foodList">
                {{item.name}}</li>
        </div> -->
        <div class="menu">
            <li>类别：</li>
            <li @click="activeTypeIndex=i" :class='{active: i===activeTypeIndex}' v-for="(item,i) in TypeList">
                {{item.name}}</li>
        </div>
        <h1>共{{showcount}}演出信息</h1>
        <div class="show" style="padding: 20px;">
            <li style="display: flex;padding: 20px 0;" v-for="item in showList">
                <img style="height: 200px; width: 150px;" :src="item.verticalPic" alt="">
                <div style="padding: 20px;">
                    <div>【{{item.cityname}}】-{{item.venue}}</div>
                    <div style="padding: 20px 0;">{{item.categoryname}}</div>
                    <div style="padding: 20px 0;">{{item.showstatus}}</div>
                </div>
            </li>

        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        // vue.config.procductionTip = false
        // getData()
        let vm = new Vue({
            el: '#app',
            computed: {
                showcount() {
                    return this.showList.length
                }
            },
            created() {
                this.getData()
            },
            watch: {
                activeCityIndex() {
                    this.getData()
                },
                activeTypeIndex() {
                    this.getData()
                }
            },
            methods: {
                async getData() {
                    console.log(this.activeCityIndex, this.activeTypeIndex)
                    let cityid = this.cityList[this.activeCityIndex].id
                    let typeid = this.cityList[this.activeTypeIndex].id
                    let res = await axios.get('data.json')
                    let arr = res.data
                    if (cityid) {
                        arr = arr.filter(r => r.cityid === cityid)
                    }
                    if (typeid) {
                        arr = arr.filter(r => r.categoryid === typeid)
                    }
                    this.showList = arr

                },
                // setCity(i) {
                //     this.activeCityIndex = i
                //     this.getData()
                // },
                // setType(i) {
                //     this.activeTypeIndex = i
                //     this.getData()
                // }
            },
            data() {
                return {
                    activeCityIndex: 0,
                    activeFoodIndex: 1,
                    activeTypeIndex: 0,
                    cityList: [{
                            id: 0,
                            name: '全部'
                        },
                        {
                            id: 1,
                            name: '上海'
                        },
                        {
                            id: 2,
                            name: '杭州'
                        },
                        {
                            id: 3,
                            name: '深圳'
                        },
                        {
                            id: 4,
                            name: '北京'
                        },
                    ],
                    foodList: [{
                            id: 0,
                            name: '大白鸡'
                        },
                        {
                            id: 1,
                            name: '野菜'
                        },
                        {
                            id: 0,
                            name: '烧麦'
                        },
                        {
                            id: 0,
                            name: '馒头'
                        },
                    ],
                    TypeList: [{
                            id: 0,
                            name: '全部'
                        },
                        {
                            id: 1,
                            name: '话剧歌剧'
                        },
                        {
                            id: 2,
                            name: '体育比赛'
                        },
                        {
                            id: 3,
                            name: '喜剧'
                        },
                        {
                            id: 4,
                            name: '戏剧'
                        },
                    ],
                    showList: []
                }
            },
        })
    </script>
</body>

</html>